<div class="modal fade" id="updateUserGameHistoryModal<%= history.id %>" tabindex="-1" aria-labelledby="updateUserGameHistoryModalLabel<%= history.id %>" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateUserGameHistoryModalLabel<%= history.id %>">Update <%= userGame.username %>'s User Game History</h5>
                <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/view/user_game/<%= userGame.id %>/history?_method=PATCH" method="POST">
                <input type="hidden" name="userGameId" value="<%= userGame.id %>">
                <input type="hidden" name="userGameHistoryId" value="<%= history.id %>">
                <div class="modal-body d-flex flex-column" style="gap:1rem;">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon-title-update-<%= history.id %>">
                            <svg enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                                <g>
                                    <rect fill="none" height="24" width="24" />
                                </g>
                                <g>
                                    <g>
                                        <path d="M21.58,16.09l-1.09-7.66C20.21,6.46,18.52,5,16.53,5H7.47C5.48,5,3.79,6.46,3.51,8.43l-1.09,7.66 C2.2,17.63,3.39,19,4.94,19h0c0.68,0,1.32-0.27,1.8-0.75L9,16h6l2.25,2.25c0.48,0.48,1.13,0.75,1.8,0.75h0 C20.61,19,21.8,17.63,21.58,16.09z M19.48,16.81C19.4,16.9,19.27,17,19.06,17c-0.15,0-0.29-0.06-0.39-0.16L15.83,14H8.17 l-2.84,2.84C5.23,16.94,5.09,17,4.94,17c-0.21,0-0.34-0.1-0.42-0.19c-0.08-0.09-0.16-0.23-0.13-0.44l1.09-7.66 C5.63,7.74,6.48,7,7.47,7h9.06c0.99,0,1.84,0.74,1.98,1.72l1.09,7.66C19.63,16.58,19.55,16.72,19.48,16.81z" />
                                        <polygon points="9,8 8,8 8,10 6,10 6,11 8,11 8,13 9,13 9,11 11,11 11,10 9,10" />
                                        <circle cx="17" cy="12" r="1" />
                                        <circle cx="15" cy="9" r="1" />
                                    </g>
                                </g>
                            </svg>
                        </span>
                        <input type="text" class="form-control" placeholder="Title" aria-label="Title" aria-describedby="basic-addon-title-update-<%= history.id %>" name="title" id="title-update-<%= history.id %>" data-oldvalue="<%= history.title %>" value="<%= history.title %>" required>
                    </div>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon-publisher-update-<%= history.id %>">
                            <svg height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                                <path d="M0 0h24v24H0V0z" fill="none" />
                                <path d="M12 7V3H2v18h20V7H12zM6 19H4v-2h2v2zm0-4H4v-2h2v2zm0-4H4V9h2v2zm0-4H4V5h2v2zm4 12H8v-2h2v2zm0-4H8v-2h2v2zm0-4H8V9h2v2zm0-4H8V5h2v2zm10 12h-8v-2h2v-2h-2v-2h2v-2h-2V9h8v10zm-2-8h-2v2h2v-2zm0 4h-2v2h2v-2z" />
                            </svg>
                        </span>
                        <input type="text" class="form-control" placeholder="Publisher" aria-label="Publisher" aria-describedby="basic-addon-publisher-update-<%= history.id %>" name="publisher" id="publisher-update-<%= history.id %>" data-oldvalue="<%= history.publisher %>" value="<%= history.publisher %>" required>
                    </div>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon-score-update-<%= history.id %>">
                            <svg enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                                <g>
                                    <rect fill="none" height="24" width="24" />
                                </g>
                                <g>
                                    <path d="M20,10V8h-4V4h-2v4h-4V4H8v4H4v2h4v4H4v2h4v4h2v-4h4v4h2v-4h4v-2h-4v-4H20z M14,14h-4v-4h4V14z" />
                                </g>
                            </svg>
                        </span>
                        <input type="number" min="0" max="100" class="form-control" placeholder="Score" aria-label="Score" aria-describedby="basic-addon-score-update-<%= history.id %>" name="score" id="score-update-<%= history.id %>" data-oldvalue="<%= history.score %>" value="<%= history.score %>" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
                    <a class="btn btn-outline-secondary" id="updateUserGameHistoryModalResetButton<%= history.id %>">Reset</a>
                    <button type="submit" class="btn btn-warning">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
